<% if flash.present? %>
    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
        <%= msg %>
    </div>
    <% end %>
<% end %>
<%= render "head" %>
<div class="form_csv">
    <form action="/congress/csv" enctype="multipart/form-data" method="post">
<fieldset>
    <legend>Solte o Arquivo aqui</legend>
    <input type="file" name="csv" class="form-control"><br>
    <input type="submit" name="Enviar" class="btn btn-primary">
</fieldset>
</form>
</div>
