// Place all the styles related to the congress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.form_csv {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.paginate_congresspeople{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_congressperson{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_despesas{
    position: relative;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}
